<div fxLayoutAlign="center center">
    <mat-card class="cust_det">
        <div>
            <h1>Financia Details</h1>
        </div>
        <div>
            <form>
                <div fxLayout="column">
                    <div fxLayoutAlign="start center">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Agreement Date</mat-label>
                            <input matInput placeholder="First Name" value="Sushi">
                        </mat-form-field>
                    </div>
                    <div fxLayoutAlign="start center">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Tenure</mat-label>
                            <input matInput placeholder="First Name" value="Sushi">
                        </mat-form-field>
                    </div>
                    <div fxLayoutAlign="start center">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>RTC/LC Charges</mat-label>
                            <input matInput placeholder="First Name" value="Sushi">
                        </mat-form-field>
                    </div>
                    <div fxLayoutAlign="start center">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Document Charges</mat-label>
                            <input matInput placeholder="First Name" value="Sushi">
                        </mat-form-field>
                    </div>
                    <div fxLayoutAlign="start center">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>RTC/LC Charges</mat-label>
                            <input matInput placeholder="First Name" value="Sushi">
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </div>
    </mat-card>
</div>