<div class="container">
    <div>
        <h1>New Agreement</h1>
    </div>
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Customer Details"> 
            <app-create-details></app-create-details> 
        </mat-tab>
        <mat-tab label="Product Details"> 
            <app-product-details></app-product-details>
        </mat-tab>
        <mat-tab label="Financial Details">
            <app-financia-details></app-financia-details>
        </mat-tab>
        <mat-tab label="Guarantor Details">
            <app-guarantor-details></app-guarantor-details>
        </mat-tab>
        <mat-tab label="EMI Details">
            <app-emi-details></app-emi-details>
        </mat-tab>
    </mat-tab-group>
</div>