<div class="container">
    <div class="pt-5">
        <h1>New Agreement</h1>
    </div>
    <mat-divider>
    </mat-divider>
    <mat-tab-group mat-align-tabs="center" class="pb-5">
        <mat-tab label="Customer Details"> 
            <app-create-details></app-create-details> 
        </mat-tab>
        <mat-tab label="Product Details"> 
            <app-product-details></app-product-details>
        </mat-tab>
        <mat-tab label="Financial Details">
            <app-financia-details></app-financia-details>
        </mat-tab>
        <mat-tab label="Guarantor Details">
            <app-guarantor-details></app-guarantor-details>
        </mat-tab>
    </mat-tab-group>
</div>