<div fxLayoutAlign="center center">
    <mat-card class="cust_det">
        <div>
            <h2>Vehicle - 2 Wheeler </h2>
        </div>
        <div class="container">
            <form>
                <div fxLayout="row wrap">
                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="p-2">
                        <div fxLayoutAlign="center center">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Vehicle Number</mat-label>
                                <input matInput placeholder="Vehicle Number">
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="p-2">
                        <div fxLayoutAlign="center center">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Owner Name</mat-label>
                                <input matInput placeholder="Owner Name">
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="p-2">
                        <div fxLayoutAlign="center center">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Vehicle Class</mat-label>
                                <input matInput placeholder="Vehicle Class">
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="p-2">
                        <div fxLayoutAlign="center center">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Vehicle Model</mat-label>
                                <input matInput placeholder="Vehicle Model">
                            </mat-form-field>
                        </div>
                    </div>
                <!-- </div>
                <div fxLayout="row wrap">   -->
                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="p-2">
                        <div fxLayoutAlign="center center">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Chassis Number</mat-label>
                                <input matInput placeholder="Chassis Number">
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="p-2">
                        <div fxLayoutAlign="center center">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Engine Number</mat-label>
                                <input matInput placeholder="Engine Number">
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="p-2">
                        <div fxLayoutAlign="center center">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Vehicle Registration Date</mat-label>
                                <input matInput placeholder="Vehicle Registration Date">
                            </mat-form-field>
                        </div>
                    </div>
                </div>    
            <div fxLayoutAlign="center center">
                <button mat-button class="btn_sub">Submit</button>
            </div>
            </form>
        </div>
    </mat-card>
</div>