<div fxLayoutAlign="center center">
    <mat-card class="cust_det">
        <div>
            <h1>Product Details</h1>
        </div>
        <div>
            <form>
                <div fxLayout="column">
                    <div fxLayoutAlign="start center">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>First Name</mat-label>
                            <input matInput placeholder="First Name" value="Sushi">
                        </mat-form-field>
                    </div>
                    <div fxLayoutAlign="start center">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>First Name</mat-label>
                            <input matInput placeholder="First Name" value="Sushi">
                        </mat-form-field>
                    </div>
                    <div fxLayoutAlign="start center">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>First Name</mat-label>
                            <input matInput placeholder="First Name" value="Sushi">
                        </mat-form-field>
                    </div>
                    <div fxLayoutAlign="start center">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>First Name</mat-label>
                            <input matInput placeholder="First Name" value="Sushi">
                        </mat-form-field>
                    </div>
                    <div fxLayoutAlign="start center">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>First Name</mat-label>
                            <input matInput placeholder="First Name" value="Sushi">
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </div>
    </mat-card>
</div>