<div fxLayoutAlign="center center">
    <mat-card class="cust_det">
        <div>
            <h1>Customer Details</h1>
        </div>
        <div>
            <form>
                <div fxLayout="row wrap">
                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25" class="p-2">
                        <div fxLayoutAlign="center center">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>First Name</mat-label>
                                <input matInput placeholder="First Name" value="Sushi">
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25" class="p-2">
                        <div fxLayoutAlign="center center">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Last Name</mat-label>
                                <input matInput placeholder="Last Name" value="Sushi">
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25" class="p-2">
                        <div fxLayoutAlign="center center">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Gender</mat-label>
                                <input matInput placeholder="Gender" value="Sushi">
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25" class="p-2">
                        <div fxLayoutAlign="center center">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Occupation</mat-label>
                                <input matInput placeholder="Occupation" value="Sushi">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div fxLayout="row wrap">  
                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25" class="p-2">
                        <div fxLayoutAlign="center center">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Others</mat-label>
                                <input matInput placeholder="Others" value="Sushi">
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25" class="p-2">
                        <div fxLayoutAlign="center center">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Mobile Number</mat-label>
                                <input matInput placeholder="Mobile Number" value="Sushi">
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25" class="p-2">
                        <div fxLayoutAlign="center center">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Aulternative Mobile Number</mat-label>
                                <input matInput placeholder="Mobile Number" value="Sushi">
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25" class="p-2">
                        <div fxLayoutAlign="center center">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="Email" value="Sushi">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div fxLayout="row wrap">    
                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="p-2">
                        <div fxLayoutAlign="center center">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Aadhar Number</mat-label>
                                <input matInput placeholder="Aadhar Number" value="Sushi">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </mat-card>
</div>